.DS_Store
node_modules
/dist

# C++ build artifacts
*.obj
*.o
*.a
*.dll
*.so
*.dylib
*.exe

# Windows-specific files
Thumbs.db
desktop.ini
*.lnk

# Environment files
.env

# Cache and temporary
.cache/
coverage/
.vue-cli-service/

# General log files
*.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


dist-electron/

server/test_save_copy.json
server/jata_server.exe
server/sample_input.txt
server/test_save.json
server/test.json
sample_input.json
pnpm-lock.yaml

